<header class="siderbar-border px-3 py-2">
  <img src="assets/images/user2.png" alt="" height="100%">
  <img src="assets/images/hamburger.png" alt="" height="100%" class="float-right">
</header>
<nav class="d-none d-sm-block sidebar-background sidebar siderbar-border pt-2">
	<ul class="nav nav-pills flex-column">
    <li class="nav-item">
     	<a class="nav-link"><i class="fa fa-tv text-success mr-4 icon-width"></i><span>Inbox</span></a>
    </li> 
    <li class="nav-item">
      <a class="nav-link"><i class="fa fa-edit text-success mr-4 icon-width"></i><span>Contract</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['nominations']" routerLinkActive="active"><i class="fa fa-ship text-success mr-4 icon-width"></i><span>Nominations</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ><i class="fa fa-compass text-success mr-4 icon-width"></i><span>Allocation</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ><i class="fa fa-compass text-success mr-4 icon-width"></i><span>Allocation</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" ><i class="fa fa-compass text-success mr-4 icon-width"></i><span>Uplift Programe</span></a>
    </li>    
  </ul>
</nav>

