.Loading {
    color: red;
}
.Finished {
    color: green;
} 

.C3 {
    background-color: #ba9ac9;
}

.C4 {
    background-color: #466f83;
}

.C5 {
    background-color: #6888af;
}

.L {
    background-color: #dbbc79;
}

.S {
    background-color: #7e706f;
}